h1.top-spwn-text {
  font-family: Helvetica, Arial, sans-serif;
  color: #EEEEEE;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translateX(-30%);
}

h2.bottom-redef-text {
  font-family: Helvetica, Arial, sans-serif;
  color: #DDDDDD;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateX(-40%);
}

div.code-input {
  color: #DDDDDD;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 11pt;
  white-space: pre-wrap;
}

@keyframes fade-in-out {
  0%   { opacity: 0%; }
  50%  { opacity: 100%; }
  100% { opacity: 0%; }
}

@keyframes static-then-fade {
  0%   { opacity: 100%; }
  100% { animation-name: fade-in-out; }
}

span.animated-cursor {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 12pt;
  animation-name: fade-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

span.static-cursor {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 12pt;
  animation-name: static-then-fade;
  animation-duration: 0.25s;
  animation-iteration-count: 0;
}